{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token%}
        <div class="txt_field">
          <input type="text" name="username">
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password">
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input class="rr" type="submit" value="Login">
        <div class="signup_link">
         <a class="rr" href="{% url 'signup' %}">Creer Compte</a>
        </div>
      </form>
    </div>

  

</body></html>